html{
    overflow: hidden;
}
.center-div{
    margin: auto;
}

table{
    margin: auto;
    width: 100%;
}

.table-container {
    margin: auto;
    width: 30vw;
    height: 40vh;
    overflow: auto;
}

